h1 {
  text-align: center;
}

.todo-list-app {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}
.toolbox,
.todo-list,
.todo-add {
  width: 60vw;
}

.toolbox {
  margin: 0 auto;
  text-align: center;
}
.todo-list {
  height: 50vh;
  margin: 10px auto !important;
  overflow: scroll !important;
}

.todo-add {
  margin: 20px auto;
}

.toolbox {
  position: relative;
}

.dark-theme-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.todo-item {
  display: flex;
  flex-direction: row;
}

.todo-text {
  flex: 1;
  line-height: 32px;
  padding-right: 10px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
