h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.full-width {
  width: 100%;
}

a {
  cursor: pointer;
}

a.active {
  text-decoration: underline;
}

.routes {
  border: 1px dashed red;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}
